body {
    color: #ffffff;
    background-color: #000000;
    animation: blinkingBackground 10s infinite;
}

@keyframes blinkingBackground{
    0%	    {
        color: #000000;
        background-color: #ffffff;
    }

    50%    {
        color: #ffffff;
        background-color: #000000;
    }

    100%    {
        color: #000000;
        background-color: #ffffff;
    }
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
