{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block main %}
    {% if session['user-id'] %}
        <h1>Welcome <span>{{ context.username }}</span>!</h1>
    {% else %}
        <h1>Welcome!</h1>
        <p>You are currently not logged in!</p>
    {% endif %}

    <!-- Display graph only to users. -->
    {% if session['user-id'] %}
        <div class="info">
            <h2>The best room is currently: {{ context.best_room }}</h2>
        </div>

        <div class="graph">
            <canvas id="myChart"></canvas>
        </div>
        <script>
            let myChart = document.getElementById("myChart").getContext("2d");
            let lineChart = new Chart(myChart, {
                type: "line",
                options: {
                    events: [],
                    plugins: {
                        title: {
                            display: true,
                            text: 'AIR QUALITY (LAST 24H)',
                        },
                    },
                    scales: {
                        x: {
                            type: 'linear',
                            display: false,
                        },
                        y: {
                            display: false,
                        },
                    },
                },
                data: {
                    datasets: [{
                        label: "A013",
                        data: [
                            {% for y in context.a013_aqi_values %}
                                {
                                    x: {{ y[0] }},
                                    y: {{ y[1] }},
                                },
                            {% endfor %}
                        ]
                    }, {
                        label: "A055",
                        data: [
                            {% for y in context.a055_aqi_values %}
                                {
                                    x: {{ y[0] }},
                                    y: {{ y[1] }},
                                },
                            {% endfor %}
                        ],
                    }],
                },
            });
        </script>
    {% endif %}
{% endblock %}